<div class="auth-wrapper">
  <mat-card class="auth-card">
    <h1 class="title">Iniciar Sesión</h1>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <div *ngIf="loading; else formTpl" class="skeleton-stack">
      <div class="skeleton skeleton-field"></div>
      <div class="skeleton skeleton-field"></div>
      <div class="skeleton skeleton-button"></div>
    </div>

    <ng-template #formTpl>

      <form (ngSubmit)="submit()" [formGroup]="form" novalidate class="form">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Email</mat-label>
          <input id="email" matInput type="email" formControlName="email" placeholder="ejemplo@mail.com"
            autocomplete="email" />
          <mat-error *ngIf="form.controls.email.hasError('required')">
            El email es obligatorio
          </mat-error>
          <mat-error *ngIf="form.controls.email.hasError('email')">
            Ingresa un email válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Contraseña</mat-label>
          <input matInput id="password" [type]="hide ? 'password' : 'text'" formControlName="password"
            autocomplete="current-password" />
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
            [attr.aria-label]="hide ? 'Mostrar contraseña' : 'Ocultar contraseña'">
            <mat-icon>{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error *ngIf="form.controls.password.hasError('required')">
            La contraseña es obligatoria
          </mat-error>
        </mat-form-field>

        <!-- captcha -->

        <div style="display: flex; width: 100%; justify-content: center;" class="cf-turnstile"
          [attr.data-sitekey]="siteKey" data-callback="onTurnstileSuccess" data-error-callback="onTurnstileError">
        </div>
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

        <button mat-flat-button color="primary" type="submit" class="submit"
          [disabled]="form.invalid || loading || !form.value.turnstileToken">
          Entrar
        </button>


        <button mat-stroked-button type="button" class="google-btn" (click)="loginWithGoogle()">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png"
            alt="Google" class="google-logo"
            width="20"
            height="20"
            />
        </button>

        <div class="error" *ngIf="error">{{ error }}</div>

        <div class="helpers">
          <a routerLink="/register" class="muted" id="hasaccount">¿No tienes cuenta? Regístrate</a>
        </div>
      </form>
    </ng-template>
  </mat-card>
</div>